div {
    width: 30%;
    align-content: center;
    display: flex;
    flex-direction: column;
}

p {
    word-wrap: break-word;
    border-left: 1px solid black;
    padding-left: 20px;
    padding-top: 20px;
}

.dot {
        height: 10px;
        width: 10px;
        background-color: #000000;
        border-radius: 50%;
        display: inline-block;
        margin-right: 20px;

}

body {
    display: flex;
}

.headerdot {
    display: flex;
    flex-direction: row;
    align-items: center;
}